<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <div class="card">
      <div class="card-header">
        <h3 class="mb-1">Inquery List</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col"> Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of inquiryList | paginate: { itemsPerPage: 2, currentPage: p }; let i=index ">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.Subject}}</td>
                        <td>{{getStatus(item.Status)}}</td>
                        <td>
                            <button type="button" class="btn m-1 btn-sm btn-primary" (click)="onEdit(item.Id)">Edit </button>
                            <button type="button" class="btn m-1 btn-sm btn-info" (click)="onDetail(item.Id)">Detail </button>
                            <button type="button" class="btn m-1 btn-sm btn-danger" (click)="onDelete(item.Id)">Delete </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
