<div class="row">
  <div *ngFor="let item of service.productList" class="col-md-4">
    <div class="card">
      <img src="{{item.ImagePath}}" class="card-img-top" alt="product image" style="height: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{item.Name}}</h5>
        <p class="card-text">{{item.BrandName}}</p>
        <a (click)="getProduct(item.Id)" class="btn btn-primary">Details</a>
      </div>
    </div>
    <br>
  </div>
</div>