<div class="row" style="margin-top: 15rem;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="splash-container">
            <div class="card ">
                <div class="card-header text-center">
                    <span class="splash-description">Admin Login</span>
                    <span *ngIf="isLoginError" style="color:crimson" class="splash-description">Incorrect username or
                        password.</span>
                </div>
                <div class="card-body">
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                        <div class="form-group">
                            <input class="form-control form-control-lg" id="UserName" name="UserName"
                                required="required" #UserName="ngModel" ngModel type="text" placeholder="User Name"
                                autocomplete="off">
                            <span *ngIf="UserName.invalid &&UserName.touched" style="color:#dc3545;">
                                User Name is required.
                            </span>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" id="Password" name="Password"
                                required="required" #Password="ngModel" ngModel type="password" placeholder="Password">
                            <span *ngIf="Password.invalid &&Password.touched" style="color:#dc3545;">
                                Password is required.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"><span
                                    class="custom-control-label">Remember
                                    Me</span>
                            </label>
                        </div>
                        <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-lg btn-block">Sign
                            in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>