<form (ngSubmit)="onSubmit(form)" #form="ngForm">

    <div class="form-group row">
        <label for="CategoryId" class="control-label col-md-3"> Select Category</label>
        <div class="col-md-9">
            <select id="CategoryId" #CategoryId="ngModel" name="CategoryId" [ngModel]="InitialCategoryId"
                class="form-control" required>
                <option disabled="disabled" [value]="null">Select Category</option>
                <option *ngFor="let item of categoryList" [value]="item.Id">{{item.Name}}</option>
            </select>
            <span *ngIf="CategoryId.invalid &&CategoryId.touched" style="color:#dc3545;">
                Category is required.
            </span>
        </div>
    </div>


    <div class="form-group row">
        <label for="Name" class="control-label col-md-3">Name</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="Name" name="Name" #Name="ngModel" ngModel placeholder="Name"
                required>
            <span *ngIf="Name.invalid &&Name.touched" style="color:#dc3545;">
                Name is required.
            </span>
        </div>
    </div>


    <div class="form-group row">
        <label for="BrandName" class="control-label col-md-3">Brand Name</label>
        <div class="col-md-9">
            <input type="email" class="form-control" id="BrandName" name="BrandName" #BrandName="ngModel" ngModel
                placeholder="Brand Name" required>
            <span *ngIf="BrandName.invalid &&BrandName.touched" style="color:#dc3545;">
                Brand Name is required.
            </span>
        </div>
    </div>

    <div class="form-group row">
        <label for="Description" class="control-label col-md-3">Description</label>
        <div class="col-md-9">
            <textarea class="form-control" id="Description" name="Description" ngModel
                placeholder="Description"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="ImagePath" class="control-label col-md-3">Image Path</label>
        <div class="col-md-9">
            <input type="email" class="form-control" id="ImagePath" name="ImagePath" #ImagePath="ngModel" ngModel
                placeholder="Image Path" required>
            <span *ngIf="ImagePath.invalid &&ImagePath.touched" style="color:#dc3545;">
                Image Path is required.
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">

        </div>
        <div class="col-sm-6 pl-0">
            <p class="text-right">
                <button type="submit" class="btn m-1 btn-success"
                    [disabled]="!form.valid">{{editMode?'Update':'Add'}}</button>
                <button type="button" class="btn m-1 btn-secondary" (click)="reset(form)">Cancel</button>
            </p>
        </div>
    </div>
</form>