<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img src="{{product.ImagePath}}" class="card-img-top" alt="product image">
            <div class="card-body">
                <h5 class="card-title">{{product.Name}}</h5>
                <p class="card-text">{{product.BrandName}}</p>
                <p class="card-text">{{product.Description}}</p>
            </div>
        </div>
    </div>
</div>