<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <div class="card">
      <div class="card-header">
        <h3 class="mb-1">Inquery</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <app-inquiry></app-inquiry>
          </div>
          <div class="col-md-7">
            <app-inquiry-table></app-inquiry-table>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-1"></div>
</div>
