<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">BrandName</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productList | paginate: { itemsPerPage: 8, currentPage: p }; let i=index ">
            <th scope="row">{{i+1}}</th>
            <td>{{item.Name}}</td>
            <td>{{item.BrandName}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Category.Name}}</td>
            <td>
                <img [src]="item.ImagePath?item.ImagePath:'../../../assets/images/wal2.jpg'" alt="product image"
                    height="50px">
            </td>
            <td>
                <button type="button" class="btn m-1 btn-sm btn-primary" (click)="onEdit(item.Id)">Edit </button>
                <button type="button" class="btn m-1 btn-sm btn-danger" (click)="onDelete(item.Id)">Delete
                </button>
            </td>

        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>