<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Inquery</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form (ngSubmit)="onSubmit(form)" #form="ngForm">

                            <div class="form-group row">
                                <label for="Subject" class="control-label col-md-3">Subject</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="Subject" name="Subject"
                                        #Subject="ngModel" ngModel placeholder="Subject" required>
                                    <span *ngIf="Subject.invalid &&Subject.touched" style="color:#dc3545;">
                                        Subject is required.
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Email" class="control-label col-md-3">Email</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" id="Email" name="Email" #Email="ngModel"
                                        ngModel placeholder="Email" required>
                                    <span *ngIf="Email.invalid &&Email.touched" style="color:#dc3545;">
                                        Email is required.
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Message" class="control-label col-md-3">Message</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="Message" name="Message" #Message="ngModel"
                                        ngModel placeholder="Message" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Status" class="control-label col-md-3"> Select Status</label>
                                <div class="col-md-9">
                                    <select id="Status" #Status="ngModel" name="Status" [ngModel]="InitialStatusId"
                                        class="form-control" required>
                                        <option disabled="disabled" [value]="null">Select Status</option>
                                        <option *ngFor="let item of statusList" [value]="item.Id">{{item.Name}}</option>
                                    </select>
                                    <span *ngIf="Status.invalid &&Status.touched" style="color:#dc3545;">
                                        Category is required.
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                                    <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/adminLogin/inquiry-list']">
                                        Back to list
                                    </button>
                                </div>
                                <div class="col-sm-6 pl-0">
                                    <p class="text-right">
                                        <button type="submit" class="btn m-1 btn-success"
                                            [disabled]="!form.valid">{{editMode?'Update':'Add'}}</button>
                                        <button type="button" class="btn m-1 btn-secondary"
                                            (click)="reset(form)">Cancel</button>
                                    </p>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>