<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/']">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adminLogin/signin']">Admin Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adminLogin/inquiry']">Inquary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adminLogin/inquiry-list']">Inquary List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adminLogin/product']">Product</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>