<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <div class="card">
      <div class="card-header">
        <h3 class="mb-1">Product</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <app-product></app-product>
          </div>
          <div class="col-md-7">
            <app-product-table></app-product-table>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-1"></div>
</div>