<div class="card" style="height: 100%;">
    <div class="card-body">
        <ul>
            <li *ngFor="let item of categoryList">
                <a style="cursor:pointer" (click)="getProductList(item.Id)">{{item.Name}}</a>
            </li>
        </ul>
    </div>
</div>