<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Inquery Detail</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{editedInquiry.Subject}}</h1>
                        <p>{{editedInquiry.Email}}</p>
                        <br>
                        <p>{{editedInquiry.Message}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>